body {
    margin: 0;
    font-family: Arial, sans-serif;
    direction: rtl;
    background-color: #f5f7f6;
}

header {
    background-color: #19543b;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

button {
    padding: 8px 12px;
    background-color: #d9b36c;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* DARK MODE */
.dark-mode {
    background-color: #0f172a;
    color: #ffffff;
}

.dark-mode header {
    background-color: #14532d;
}

.dark-mode main {
    background-color: #0f172a;
}

.dark-mode .hero-text,
.dark-mode .hero-box,
.dark-mode .info-card {
    background: #1e293b;
    color: #ffffff;
}

.dark-mode p {
    color: #cbd5e1; 
}

.dark-mode .explore-btn {
    background-color: #22c55e;
    color: white;
}

/* HERO */
.hero {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding: 20px;
}
.hero-text {
    flex: 1;
    background: #eee;
    padding: 20px;
    border-radius: 10px;
}

.hero-box {
    flex: 1;
    background: #1e5631;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.explore-btn {
    display: inline-block;
    padding: 10px;
    background: #1e5631;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

/* CARDS */
.info-cards {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.info-card {
    flex: 1;
    background: #eee;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

/* GALLERY */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
}

.card {
    width: 200px;
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    color: #666;
}
